.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}
.title {
  font-size: 14;
  font-weight: bold;
}
.pos {
  margin-bottom: 12;
}
.cardMedia {
  height: 15vh;
  padding-top: '56.25%'; // 16:9
}
.progress{
  height: 15px!important;
  border-radius: 20px;
}
.progress{
  .MuiLinearProgress-bar{
    border-radius: 20px;
  }
}
.progressBarTxt{
  position: relative;
  top: -18px;
  font-size: 0.8em;
  font-weight: bold;
  color: white;
}
